{% extends 'base.html.twig' %}

{% block title %}Hello PizzaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅ </h1>
    <h2>Now is {{ date|date('Y-m-d H:i:s') }}</h2>

    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis ipsum nec nulla pharetra semper id nec ligula. Donec ac turpis commodo, elementum sem nec, commodo sem. Cras nec orci in magna tincidunt pharetra eget id nisl. Mauris eget lectus quis eros laoreet elementum nec eu magna. In gravida mauris rhoncus tincidunt malesuada. Duis facilisis consectetur purus vitae tempus. Nulla placerat sapien ipsum, et cursus nisi mattis ut. Quisque vitae mi a leo tincidunt molestie eu id ligula.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent at mauris feugiat, interdum purus sit amet, maximus ex. Maecenas nunc dolor, tempor eget lacinia in, rhoncus eget urna. Mauris varius auctor dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dictum felis vel metus aliquam, at auctor turpis tincidunt. Fusce quis placerat felis, a vehicula neque. Vivamus at lacus velit. Phasellus id leo eros. Praesent facilisis massa eget maximus vehicula. Nullam non nulla quis nisl mollis semper. Etiam volutpat, eros a luctus pretium, odio enim auctor nulla, malesuada molestie nulla nulla id turpis. Donec nec tempor neque, et ultrices leo. Cras mollis diam aliquam, vehicula urna ac, blandit ex. Maecenas id tempus nisi. Pellentesque dui libero, tristique quis semper ultricies, luctus vitae nisl.

        Maecenas condimentum cursus enim, vel porttitor magna commodo et. Cras ornare mattis magna, a dictum nulla molestie ac. Donec nec nibh erat. Duis at tortor odio. Sed vel justo ut nisl pharetra sollicitudin. Suspendisse id interdum velit. Praesent sed dapibus elit. Morbi convallis eu ex non pretium. Donec ac elementum eros. Ut faucibus ipsum non lectus cursus auctor. Fusce facilisis dictum urna sit amet tempor. Aliquam auctor dui turpis, in luctus orci lobortis eu. Duis sollicitudin diam venenatis gravida viverra. Integer volutpat urna ullamcorper enim malesuada convallis eu in dui. Suspendisse potenti.

        Phasellus tincidunt tellus et ante hendrerit, non vestibulum sapien rutrum. Nunc felis lacus, ultricies vel enim in, molestie tristique nisl. Vestibulum nec diam cursus, commodo quam eu, tempor nunc. Vestibulum volutpat faucibus augue eget vehicula. Integer eget fringilla lorem, ut pharetra nisi. Nam cursus ipsum id porta ullamcorper. In ac finibus tortor. Integer lorem libero, aliquet eget egestas ac, mollis a enim. Mauris finibus tellus tellus, non tempus massa rhoncus a. Vivamus nec volutpat tellus, in faucibus urna. Morbi lacinia maximus scelerisque. Suspendisse vehicula condimentum elit et congue. Duis accumsan fermentum nunc, in dignissim justo vestibulum rutrum. Nulla elementum velit id posuere convallis. Maecenas quis ante nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

        Fusce eget purus ultrices, pellentesque massa quis, scelerisque ipsum. In eget metus sed leo consectetur ultrices at egestas nibh. Vivamus blandit lobortis euismod. Curabitur gravida nunc id ipsum faucibus, nec pharetra leo ornare. Nulla mattis velit in gravida imperdiet. Quisque ac urna est. Vivamus et diam volutpat, luctus nulla eu, vestibulum enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
    {#This friendly message is coming from:#}
    {#<ul>#}
        {#<li>Your controller at <code><a href="{{ '/application/src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/PizzaController.php</a></code></li>#}
        {#<li>Your template at <code><a href="{{ '/application/templates/welcome/index.html.twig'|file_link(0) }}">templates/pizza/index.html.twig</a></code></li>#}
    {#</ul>#}
</div>
{% endblock %}
