{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    {{ include('book/_books_index.html.twig') }}
    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
