<form method="post" action="{{ path('wishlist_add', {'id':1}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ 1) }}">
    <button class="btn btn-success">Add to wishlist</button>
</form>