<div class="row">
    {% for image in product.gallery %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-fluid" src="{{ asset('img/' ~ image.file) }}" alt="">
            </div>
        </div>
    {% endfor %}
</div>