{% if image != null %}
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-fluid" src="{{ asset('img/' ~ product.cover.file) }}" alt="">
        </div>
    </div>
{% endif %}