{% extends 'product_base.html.twig' %}

{% block title %}Symfony catalog{% endblock %}

{% block body %}
    <h1>Product index</h1>

    {{ include('product/_product_index_table.html.twig') }}

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
